In [45]:
import pandas as pd
import datetime as dt

# Review of Python datetime Module

In [46]:
someday = dt.date(2010, 1, 20)

In [47]:
print(someday)

2010-01-20

In [48]:
someday.year
someday.month
someday.day

20

In [49]:
a = dt.datetime(2010, 1, 10, 8, 13, 50)

In [50]:
print(a)

2010-01-10 08:13:50

In [51]:
a.day
a.month
a.day
a.hour
a.minute
a.second

50

# The Pandas Timestamp Object

In [52]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2015/03/31')
pd.Timestamp('2013, 11, 04')
pd.Timestamp('01/01/2015')
pd.Timestamp('19/12/2015')
pd.Timestamp('12/19/2015')
pd.Timestamp('04/03/2000') #This way can confuse the python and provides a different date of what you want
pd.Timestamp('2021-03-08 08:35:15')
pd.Timestamp('2021-03-08 6:13:29 pm')

Timestamp('2021-03-08 18:13:29')

In [53]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [54]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

# The Pandas DateTimeIndex Object

In [55]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [56]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [57]:
dates2 = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates2)

In [58]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The pd.to_datetime( ) Method

In [59]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 15, 16))
pd.to_datetime(['2015/12/05', '2001-02-03', '13/12/2019', '2012', 'July 4th, 1996'])

DatetimeIndex(['2015-12-05', '2001-02-03', '2019-12-13', '2012-01-01',
               '1996-07-04'],
              dtype='datetime64[ns]', freq=None)

In [60]:
times = pd.Series(['2015/12/05', '2001-02-03', '13/12/2019', '2012', 'July 4th, 1996'])

In [61]:
pd.to_datetime(times)

0   2015-12-05
1   2001-02-03
2   2019-12-13
3   2012-01-01
4   1996-07-04
dtype: datetime64[ns]

In [62]:
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [63]:
pd.to_datetime(dates, errors = 'coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [64]:
pd.to_datetime([561963001, 654146161], unit = 's')

DatetimeIndex(['1987-10-23 04:50:01', '1990-09-24 03:16:01'], dtype='datetime64[ns]', freq=None)

In [65]:
pd.to_datetime([5606656, 6540650], unit = 'm')

DatetimeIndex(['1980-08-29 12:16:00', '1982-06-09 02:50:00'], dtype='datetime64[ns]', freq=None)

# Create a Range of Dates with the pd.date_range( ) Method

In [66]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'D')
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [67]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [68]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [69]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [70]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'B') #Bussness days, dias úteis, dias da semana

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [71]:
pd.date_range(start = '2016-01-01', end = '2016-01-15', freq = 'W') #1 dia da semana, por padrão domingo

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [72]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'W-FRI') #Uma maneira de mudar esse padrão

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [73]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [74]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [75]:
pd.date_range(start = '2016-01-01', end = '2017-01-10', freq = 'M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [76]:
pd.date_range(start = '2016-01-01', end = '2017-01-10', freq = 'MS') #Month Starts

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [77]:
pd.date_range(start = '2016-01-01', end = '2050-01-10', freq = 'Y')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [78]:
pd.date_range(start = '2016-01-01', end = '2050-01-10', freq = 'A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [79]:
pd.date_range(start = '2012-09-09', periods = 25, freq = 'D') # Quantidade de períodos a partir da data de ínicio

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(start = '2012-09-09', periods = 25, freq = 'm')

DatetimeIndex(['2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
               '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
               '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
               '2014-09-30'],
              dtype='datetime64[ns]', freq='M')

In [81]:
pd.date_range(start = '2012-09-09', periods = 25, freq = 'B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [82]:
pd.date_range(end = '1999-12-31', periods = 40, freq = 'D')

DatetimeIndex(['1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

# The .dt Accessor

In [83]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [84]:
s = pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [85]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [86]:
s[s.dt.is_quarter_start]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [87]:
s[s.dt.is_month_start]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

# Import Financial Datasets with pandas_datareader Library

In [88]:
from pandas_datareader import data

In [99]:
stocks = data.DataReader(name = 'MSFT', data_source = 'yahoo', start = '2019-01-01', end = '2030-01-01')
stocks.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,97.353912
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,93.772446
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,98.133766
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,98.258888
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,98.971344

In [96]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
                '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
                '2019-01-14', '2019-01-15',
                ...
                '2022-06-10', '2022-06-13', '2022-06-14', '2022-06-15',
                '2022-06-16', '2022-06-17', '2022-06-21', '2022-06-22',
                '2022-06-23', '2022-06-24'],
               dtype='datetime64[ns]', name='Date', length=877, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# The pd.DateOffset Object

In [102]:
stocks.head(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,97.353912
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,93.772446
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,98.133766

In [104]:
stocks.index = stocks.index + pd.DateOffset(day = 5)

In [105]:
stocks.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-05,101.750000,98.940002,99.550003,101.120003,35329300.0,97.353912
2019-01-05,100.190002,97.199997,100.099998,97.400002,42579100.0,93.772446
2019-01-05,102.510002,98.930000,99.720001,101.930000,44060600.0,98.133766
2019-01-05,103.269997,100.980003,101.639999,102.059998,35656100.0,98.258888
2019-01-05,103.970001,101.709999,103.040001,102.800003,31514400.0,98.971344

In [107]:
stocks.index + pd.DateOffset(weeks = 5)

DatetimeIndex(['2019-02-09', '2019-02-09', '2019-02-09', '2019-02-09',
               '2019-02-09', '2019-02-09', '2019-02-09', '2019-02-09',
               '2019-02-09', '2019-02-09',
               ...
               '2022-07-10', '2022-07-10', '2022-07-10', '2022-07-10',
               '2022-07-10', '2022-07-10', '2022-07-10', '2022-07-10',
               '2022-07-10', '2022-07-10'],
              dtype='datetime64[ns]', name='Date', length=877, freq=None)

In [108]:
stocks.index + pd.DateOffset(months = 5)

DatetimeIndex(['2019-06-05', '2019-06-05', '2019-06-05', '2019-06-05',
               '2019-06-05', '2019-06-05', '2019-06-05', '2019-06-05',
               '2019-06-05', '2019-06-05',
               ...
               '2022-11-05', '2022-11-05', '2022-11-05', '2022-11-05',
               '2022-11-05', '2022-11-05', '2022-11-05', '2022-11-05',
               '2022-11-05', '2022-11-05'],
              dtype='datetime64[ns]', name='Date', length=877, freq=None)

In [109]:
stocks.index + pd.DateOffset(years = 1, months = 2, days = 5, hours = 6, minutes = 2)

DatetimeIndex(['2020-03-10 06:02:00', '2020-03-10 06:02:00',
               '2020-03-10 06:02:00', '2020-03-10 06:02:00',
               '2020-03-10 06:02:00', '2020-03-10 06:02:00',
               '2020-03-10 06:02:00', '2020-03-10 06:02:00',
               '2020-03-10 06:02:00', '2020-03-10 06:02:00',
               ...
               '2023-08-10 06:02:00', '2023-08-10 06:02:00',
               '2023-08-10 06:02:00', '2023-08-10 06:02:00',
               '2023-08-10 06:02:00', '2023-08-10 06:02:00',
               '2023-08-10 06:02:00', '2023-08-10 06:02:00',
               '2023-08-10 06:02:00', '2023-08-10 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=877, freq=None)

#